<header class="pt-5">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="display-4 fw-bold mb-5">Free subdomains<br>&nbsp;<span class="underline">endless</span>&nbsp;possibilities.</h1>
                    <p class="fs-5 text-muted mb-5">Take control of your online presence today.<br>Our free subdomains make it easy to get started with your website.</p>
                    <form class="d-flex justify-content-center flex-wrap" method="post" data-bs-theme="light">
                        <div class="shadow-lg mb-3"></div>
                        <div class="shadow-lg mb-3">
                            <button class="btn btn-primary" onclick="location.href='/signin'" type="button">Get Started 🔥</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="text-center position-relative">
                    <img class="img-fluid" src="assets/img/illustrations/meeting.svg" style="width: 800px;" alt="Illustration of a meeting">
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container py-4 py-xl-5">
        <div class="row">
            <div class="col-md-6">
                <h3 class="display-6 fw-bold pb-md-4">Benefits of&nbsp;<br>using&nbsp;<span class="underline">CloudFrost</span></h3>
            </div>
        </div>
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <div class="row gy-2 row-cols-1 row-cols-sm-2">
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-secondary">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                    <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">Easy to use</h5>
                            </div>
                            <p class="text-muted my-3">Easily manage DNS, transfer name servers, and customize your domain.</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-secondary">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                    <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">Unlimited</h5>
                            </div>
                            <p class="text-muted my-3">Create unlimited sub-subdomains for your projects.</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-secondary">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                    <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">Easy Integration</h5>
                            </div>
                            <p class="text-muted my-3">Easily integrate with websites, CMS, and more.</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-secondary">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                    <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">Freedom</h5>
                            </div>
                            <p class="text-muted my-3">You own your subdomain—complete freedom over your online presence.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-first order-md-last">
                <div>
                    <img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="assets/img/illustrations/teamwork.svg" alt="Teamwork illustration">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <img class="rounded img-fluid fit-cover" style="min-height: 300px;" src="assets/img/illustrations/presentation.svg" width="800" alt="Illustration of presentation">
                </div>
            </div>
            <div class="col">
                <div style="max-width: 450px;">
                    <h3 class="fw-bold pb-md-4">This project is open-source and available at GitHub:<br>&nbsp;<span class="underline"><a href="https://GitHub.com/KartikJain14/CloudFrost" target="_blank">"KartikJain14/CloudFrost"</a></span></h3>
                    <p class="text-muted py-4 py-md-0">Your valuable contributions to the project will be appreciated and also makes you an open source hero. Check out the repo and share your knowledge.<br><br>In case you find any bug/vulnerability or face any issue, feel free to create a new issue.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="bg-primary border rounded border-0 border-primary overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold mb-3">Get your free subdomain now!</h2>
                        <p class="mb-4">Check availability subdomain availability:</p>
                        <div class="my-3">
                            <div class="btn btn-light mt-2 pe-xxl-5 me-xxl-0" style="margin-right: 1px;margin-top: 8px;padding-left: 24px;padding-right: 24px;">
                                <input id="check-availability" style="width: 120px;" placeholder="subdomain">
                                .<%- domain %>
                            </div>
                            <a class="btn btn-secondary me-2 mt-2" role="button" onclick="checkAvailability(event)">Check Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                    <img class="w-100 h-100 fit-contain pt-5 pt-md-0" src="assets/img/illustrations/web-development.svg" alt="Web development illustration">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold mb-4">Why keep it&nbsp;&nbsp;<span class="underline">free</span>?</h2>
                <p class="text-muted" style="padding-bottom: 0px;margin-left: -240px;margin-right: -240px;padding-left: 240px;padding-right: 245px;">
                    When I started learning web development, I didn’t have much money to invest in a domain or hosting. I struggled to find a way to bring my ideas online without paying for expensive services. Then, I discovered subdomains – they gave me the perfect, free space to experiment, learn, and grow.<br><br>I want to offer that same opportunity to others. Whether you're a student, a small business, or someone with a passion project, I believe you should have a chance to create online without worrying about costs.<br><br>That’s why I keep it free. This platform is here to help you get started, experiment, and build your ideas. The goal is to give everyone the freedom to create, just like I was able to do when I first started.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-4 py-xl-5 mb-5">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold mb-5"><span class="pb-3 underline">How it Works</span></h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-8 mx-auto">
                <div class="accordion text-muted" role="tablist" id="accordion-1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1">Authenticate with google</button>
                        </h2>
                        <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p>We use passport.js to help you authenticate with Google, keeping it hassle-free and password-less.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Register / Manage</button>
                        </h2>
                        <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">Once you sign in with Google, you may register a new subdomain if you don't already have one or manage the one you already have.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="true" aria-controls="accordion-1 .item-3">Create / Edit Name Servers</button>
                        </h2>
                        <div class="accordion-collapse collapse show item-3" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">Once you have registered your subdomain, we allow you to create up to 6 records, making it easy to point your domain to other services (e.g., <a href="https://www.cloudns.net/" target="_blank"><b>cloudns</b></a>). This gives you the freedom to choose whichever services you prefer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
            <div class="pb-2 pb-lg-1">
                <h2 class="fw-bold text-secondary mb-2">Need help?</h2>
                <p class="mb-0">We are happy to help you, feel free to contact us.</p>
            </div>
            <div class="my-2">
                <a class="btn btn-light fs-5 py-2 px-4" role="button" href="contact">Contact us</a>
            </div>
        </div>
    </div>
</section>

<script>
    function checkAvailability(event) {
        const subdomain = document.getElementById('check-availability').value;
        fetch('/api/available', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ subdomain: subdomain })
        })
            .then(response => {
                if(response.ok) {
                    alert('Subdomain is available!');
                }
                else {
                    alert('Subdomain is not available.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while checking availability.');
            });
    }
</script>